
@{
    ViewBag.Title = "Index";
}

<h1>Opções de Viagens</h1>

<ul>
    <li> <a href="/Viagens/Cadastrar">Cadastrar uma Viagem</a> </li>
    <li> <a href="/Viagens/Listar">Listar Viagens</a> </li>
</ul>